body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
      
}
h1{
    font-size: 40px;
}
span{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    padding-left:2%;
    margin-left:3%;
}
.half-width img{
     width: 100%;
}
